# Database
DATABASE_URL=postgresql://localhost:5432/vowena

# Stellar
NEXT_PUBLIC_CONTRACT_ID=
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
NEXT_PUBLIC_USDC_ADDRESS=

# Keeper
KEEPER_SECRET=
CRON_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
